@CHARSET "ISO-8859-1";

.margin-top-20{
	margin-top: 20px !important;
}

.float-left{
	float: left !important;
}

.float-right{
	float: right !important;
}

.margin-right-15{
	margin-right: 15px !important;
}
