@CHARSET "ISO-8859-1";

.smf-content-header{
	height: 55px; 
	margin-left: 15px;
	margin-top: 20px; 
}

.smf-content-title{
	float: left; 
	font-size: 30px;
}

.float-right{
	float: right;
}

.margin-right-15{
	margin-right: 15px;
}
